.countryCard{
  font-size: small;
  border-style: solid;
  border-color: royalblue;
  margin: 1em;
  width: 20em;
  border-radius: 1em;

}
.countryCard h1{
  margin-left: .5em;
}
.countryCard p{
  margin-left: 1em;
}

.countryHolder{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}